aiohappyeyeballs==2.6.2
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
blinker==1.9.0
click==8.4.1
cmake @ file:///home/builder/.termux-build/python-cmake/src
contourpy @ file:///home/builder/.termux-build/python-contourpy/src/dist/contourpy-1.3.3-cp312-cp312-linux_aarch64.whl#sha256=bd2225972454689a31a08e898ae64d9aa2942621e3c5861604614fab413349ac
discord.js==1.0.7
discord.py==2.7.1
Flask==3.1.3
frozenlist==1.8.0
idna==3.16
itsdangerous==2.2.0
javascriptpy==1.1.6
Jinja2==3.1.6
MarkupSafe==3.0.3
matplotlib @ file:///home/builder/.termux-build/matplotlib/src/dist/matplotlib-3.10.8-cp312-cp312-linux_aarch64.whl#sha256=43d43676a1ba5b3f3b879c5b49b4a5a82d29dbf0807a165cdc4602df6f3cd430
multidict==6.7.1
numpy @ file:///home/builder/.termux-build/python-numpy/src/dist/numpy-2.2.5-cp312-cp312-linux_aarch64.whl#sha256=024a31994835ab1636e19bc90fe808b5f291c37b0745ffcf385911fbc2969673
pillow @ file:///home/builder/.termux-build/python-pillow/src
propcache==0.5.2
python-dotenv==1.2.2
typing_extensions==4.15.0
Werkzeug==3.1.8
yarl==1.24.2
